page-home {
    .img-set{
        margin: auto;
        display: block;
        width: 50%
    }
    button{
        font-size: 1.6rem;
        height: inherit;
        margin-top: 8px;
    }
    ion-card-title{
        background: lightgrey;
    }
    ion-card{
        padding: 0;
    }
}
